

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* height: 90vh; */
}

h2 {
    font-size: 4rem;
    text-align: center; 
}

h1 {
  text-align: center;
}
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .interval-container {
    display: flex;
    color: red;
  }

  .userInterface {
    text-align: center;
  }

  .propsStyle {
      font-size: 15px;
  }

 #session-container {
     text-align: center;
 }

 .actions-container {
     text-align: center;
 }

 
  
  @media screen and (max-width: 700px) {
    #interval-container {
      flex-wrap: wrap;
      justify-content: center;
    }
  }